.product-details {
    display: flex;
    flex-direction: row;
    gap: 32px;

    & > div {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .product-details-desc {
        display: flex;
        flex-direction: column-reverse;
    }

    & .stock {
        color: var(--dyson-green);
    }

    & .save, .includes, .price {
        color: var(--dyson-blue);
    }

    & .save-label {
        background-color: var(--dysn-blue);
        color: #fff
    }

    & .previous-price {
        text-decoration: line-through;
    }
}

@media (width >= 600px) {
    .product-details {
        & > div {
            display: flex;
            gap: 16px;
        }

        & .product-details-info {
            width: 33%;
            
            & img {
                width: 152px;
            }
        }

        .product-details-desc {
            flex-direction: column-reverse;
            width: 66%;
        }
    }
}

@media (width >= 900px) {
    .product-details {
        & > div {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }

        .product-details-desc {
            flex-direction: row;
            width: 66%;
        }


        .product-details-media {
            flex: 1 1 40%;
        }   

        .product-details-copy {
            flex: 1 2 60%;
        }
    }
}
